.webapp {
  &_main {
    margin-top: 110px;
    padding: 0 120px;

    @media screen and (max-width: 1100px) {
      & {
        padding: 0 60px;
      }
    }

    &_headstart {
      background-color: #222222;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 40px;
      &_img {
        width: 100%;

        img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        div {
          font-size: 25px;
          color: white;
          text-align: center;
        }

        p {
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
      }
    }

    &_success {
      font-family: Space Grotesk;
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-weight: 400;
      &_bigt {
        font-size: 55px;
        color: white;
      }

      p {
        font-size: 20px;
      }

      @media screen and (max-width: 768px) {
        & {
          text-align: center;
          align-items: center;
          &_bigt {
            font-size: 25px;
          }

          p {
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }

    &_benefits {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;

      &_left {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-family: Space Grotesk;
        &_line {
          gap: 30px;
          display: flex;
          align-items: center;
          &_img {
            width: 70px;
            height: 70px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          &_text {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            div {
              font-size: 30px;
              color: white;
            }
            p {
              font-size: 18px;
              color: #ffffffa6;
            }
          }
        }
      }

      &_right {
        width: 40%;
        img {
          width: 100%;
        }
      }

      @media screen and (max-width: 1000px) {
        & {
          flex-direction: column-reverse;
          align-items: center;
          gap: 20px;
          &_left {
            width: 80%;
          }

          &_right {
            width: 70%;
          }
        }
      }

      @media screen and (max-width: 768px) {
        & {
          &_left {
            width: 100%;
            align-items: center;
            &_line {
              flex-direction: column;
              align-items: flex-start;
            }

            &_text {
              width: 100%;
              p.bp {
                text-align: left !important;
              }
            }
          }

          &_right {
            width: 100%;
          }
        }
      }
    }

    &_cards {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 376px));
      place-content: center;
      gap: 15px;
      margin-top: 45px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 376px));
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    &_services {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 376px));
      place-content: center;
      gap: 30px;
      margin-top: 50px;
      &_card {
        background-color: #111111;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 25px;
        flex-direction: column;
        gap: 1rem;
        .gradient-line {
          background: linear-gradient(to right, #ef26c0, #9945ff);
          width: 100%;
          height: 3px;
          position: absolute;
          top: 0;
          left: 0;
        }
        .big-text {
          font-size: 28px;
          color: white;
        }
        p {
          font-size: 20px;
          color: white;
          line-height: 40px;
        }
      }

      @media screen and (max-width: 1200px) {
        & {
          grid-template-columns: repeat(2, minmax(0, 376px));
        }
      }
      @media screen and (max-width: 768px) {
        & {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }
    }

    &_langs {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 170px));
      place-content: center;
      margin-top: 50px;
      gap: 15px;
      width: 100%;
      &_card {
        background-color: #222222;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        border-radius: 10px;
        gap: 12px;
        img {
          width: 80px;
          height: 80px;
        }
        div {
          font-size: 22px;
          color: white;
          text-transform: uppercase;
        }
      }

      @media screen and (max-width: 850px) {
        & {
          grid-template-columns: repeat(4, minmax(0, 170px));
        }
      }
      @media screen and (max-width: 768px) {
        & {
          grid-template-columns: repeat(2, minmax(0, 2fr));
        }
      }
    }

    &_plane {
      margin-top: 114px;
      display: flex;
      justify-content: space-between;
      &_img {
        width: 365px;
        img {
          width: 100%;
          height: 446px;
        }
      }

      .cols-margin {
        margin-top: 176px;
      }

      &_cols {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        .column {
          &_bigt {
            width: 70%;
            display: flex;
            gap: 1rem;
            .gradient {
              height: 33px;
              width: 2px;
              background-color: #9945ff;
              min-width: 2px;
            }
            .text {
              color: white;
              font-size: 28px;
            }
          }
          p {
            font-size: 18px;
            color: #c4c4c4;
            margin-top: 10px;
          }
        }
      }

      @media screen and (max-width: 850px) {
        & {
          flex-direction: column;
          align-items: center;
          gap: 20px;
          &_cols {
            width: 100%;
          }

          .cols-margin {
            margin-top: 30px;
          }
        }
      }
    }

    &_title-text {
      font-size: 58px;
      color: white;
      text-align: center;
      margin: 116px 0 50px 0;
      @media screen and (max-width: 768px) {
        & {
          font-size: 25px;
        }
      }
    }

    &_features {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 310px));
      grid-template-rows: auto;
      place-content: center;
      gap: 15px;
      margin-bottom: 1000px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (max-width: 640px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }

  &_blue-section {
    display: flex;
    align-items: center;
    margin-top: 60px;
    height: 792px;
    &_left {
      background-color: #1a1537;
      width: 55%;
      padding: 127px 125px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      div {
        color: white;
        font-size: 55px;
      }
      p {
        text-transform: uppercase;
      }
    }
    &_right {
      width: 45%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (max-width: 1350px) {
      & {
        &_left {
          padding: 100px 80px;
          gap: 1rem;
          div {
            font-size: 48px;
          }
        }
      }
    }
    @media screen and (max-width: 850px) {
      & {
        &_left {
          padding: 60px 40px;
          gap: 1rem;
          div {
            font-size: 36px;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      & {
        flex-direction: column;
        height: auto;
        &_left {
          width: 100%;
        }
        &_right {
          width: 100%;
          height: 500px;
        }
      }
    }
  }
}
