.appContainer {
  min-height: 100vh;
  position: relative;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 780px;
  border-radius: 0px, 0px, 65px, 65px;
}
.frame {
  display: flex;
  padding: 0 30px 40px 30px;
  background-color: #000;
  @media screen and (max-width: 769px) {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 769px) {
      width: 100%;
    }
    p {
      color: #ffffff;
    }
  }

  .service {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    @media screen and (max-width: 769px) {
      width: 100%;
      flex-direction: column;
    }

    .items {
      background-color: #1a1a1a;
      color: white;
      padding: 20px;
      border-radius: 10px;
      width: 45%;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: 769px) {
        width: 100%;
        flex-direction: row;
      }
      @media screen and (max-width: 528px) {
        width: 100%;
        flex-direction: column;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }
}
