.page__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	color: #fff;
}

.page__container {
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 20px;
}

.section {
	&_row {
		position: relative;
		margin-bottom: 120px;
	}
	&_body {
		&_row {
			display: flex;
			justify-content: center;

			@media (max-width: 768px) {
				flex-direction: column;
			}
		}
		&_items {
			&:first-child {
				padding: 127px 122px;
				background-color: #0f103f;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

// Lazy loader

.loaderWrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	padding: 80px 40px;
	animation: fadeIn 0.5s ease-in-out;
	transition: opacity 0.6s ease, transform 0.6s ease;
	opacity: 1;
	transform: scale(1);
	z-index: 9999;
	position: fixed;
	inset: 0;
}

.fadeOut {
	opacity: 0;
	transform: scale(0.9);
	pointer-events: none;
}

.spinner {
	width: 64px;
	height: 64px;
	border: 4px solid #222;
	transition: all 0.6s ease-in-out;
	box-shadow: 0 0 10px rgba(108, 92, 231, 0.4);
	background: conic-gradient(#6c5ce7 0%, #222 0%);
}

.text {
	font-family: 'SGrotReg', sans-serif;
	margin-top: 12px;
	font-size: 80px;
	color: #fff;
	font-weight: 500;
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// Test 3D style page
.wrapper_cube3d {
	width: 362.465px;
	height: 562.643px;
	margin: 0 -60px;
	z-index: 20;
}

// Test Scroll Section
.test {
	&_wrapper_scroll_section {
		margin-top: 80px;
	}
	&_row_scroll_section {
		display: flex;
		justify-content: space-between;

		margin-bottom: 80px;
		padding: 120px 0;
	}
	&_scroll_content {
		max-width: 549px;

		h1,
		h2,
		p {
			font-family: 'SGrotReg', sans-serif;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 22.1px */
		}

		h1,
		p {
			color: #9b98a4;
			font-size: 17px;
		}

		h2 {
			color: #fff;
			font-size: 48px; /* 62.4px */
			text-transform: uppercase;

			padding: 20px 0px 40px 0px;
		}

		p {
			span {
				display: block;
				padding: 20px 0 0 0;
			}
		}
		&_image {
			width: 435px;
			height: 520px;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
				opacity: 0;
				transition: opacity 0.7s ease-in-out;
			}
		}

		&_active_image {
			img {
				opacity: 1;
			}
		}
	}
}
