.page__metaverse {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

.metaverseContainer {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 30px;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 780px;
  border-radius: 0px, 0px, 65px, 65px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.blockchainBtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 18px;
  width: 176px;
  border-radius: 99px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: white;
    color: black;
  }
  @media (max-width: 430px) {
    margin: 0 auto;
  }
}

// Content =================
.main__metaverse {
  margin: 350px 0 300px 0;
  @media (max-width: 1024px) {
    margin: 50px 0 120px 0;
  }
}

.sectionSolutions {
  margin: 0 0 105px 0;
}

// .title__metaverse {
// 	margin-bottom: 80px;
// 	h1 {
// 		width: 85%;
// 		font-weight: 400;
// 		font-size: 58px;
// 		margin-bottom: 50px;
// 		/* line-height: 58px; */
// 		line-height: 0.99862;
// 		color: #fff;
// 	}
// 	p {
// 		font-weight: 400;
// 		font-size: 20px;

// 		/* line-height: 25px; */
// 		line-height: 1.25;
// 		text-transform: uppercase;
// 		color: #fff;
// 	}
// }

.solutions__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  padding: 0 42px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 430px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.cardSolution {
  background: linear-gradient(180deg, #48319d 0%, rgba(72, 49, 157, 0.1) 100%);
  border-radius: 15px;
  img {
    width: 100%;
  }
  @media (max-width: 430px) {
    border-radius: 10px;
    background: #222;
  }
}

.item__card {
  padding: 25px 17px;
  h1 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;

    /* line-height: 20px; */
    line-height: 0.8;
    letter-spacing: -0.04em;
    color: #fff;
  }
  p {
    font-weight: 400;
    font-size: 18px;

    /* line-height: 20px; */
    line-height: 1.11111;
    letter-spacing: -0.04em;
    color: #fff;
  }
  @media (max-width: 768px) {
    h1 {
      line-height: 1.2;
    }
  }
  @media (max-width: 430px) {
    h1 {
      text-align: center;
    }
    p {
      line-height: 1.38889;
      text-align: center;
    }
  }
}

// Service
.sectionService {
  margin: 0 0 97px 0;
}
.service {
  &__row {
    display: flex;
    justify-content: center;

    gap: 35px;
  }
  &__col {
    flex: 1 1 auto;
  }
  @media (max-width: 768px) {
    &__row {
      display: block;
    }
  }
}

.itemService {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 208px;
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @media (max-width: 430px) {
    display: block;
    height: 100%;
  }
}
.item__image {
  object-fit: cover;
  img {
    width: 200px;
  }
  @media (max-width: 430px) {
    img {
      width: 100px;
      margin: 0 auto 20px auto;
    }
  }
}
.itemContent {
  margin: auto 0;
  h1 {
    font-weight: 500;
    font-size: 40px;

    /* line-height: 48px; */
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #fff;
  }
  p {
    font-weight: 400;
    font-size: 18px;

    /* line-height: 24px; */
    line-height: 1.33333;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.65);
  }
  @media (max-width: 768px) {
    margin-left: 30px;
    h1 {
      font-size: 30px;
    }
  }
  @media (max-width: 430px) {
    margin: 0px;
    h1 {
      font-size: 25px;
      font-weight: 400;
      /* line-height: 30px; */
      line-height: 1.2;
      text-align: center;
    }
    p {
      text-align: center;
      line-height: 1.38889;
    }
  }
}

// Platform

.section__platform {
  margin-bottom: 97px;
}

.platform__row {
  display: flex;
  justify-content: center;
  background-color: #111;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 12px;
  @media (max-width: 768px) {
    display: block;
  }
}

.platform__col {
  flex: 1 1 auto;
  &:last-child {
    flex: 1 1 50%;
    padding: 40px 25px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    font-weight: 400;
    font-size: 38px;

    /* line-height: 40px; */
    line-height: 1.05263;
    color: #fff;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0;

    /* line-height: 18px; */
    line-height: 0.9;
    color: #fff;
  }
  @media (max-width: 430px) {
    h1 {
      font-size: 25px;

      /* line-height: 30px; */
      line-height: 1.2;
      text-align: center;
    }
    p {
      font-size: 18px;

      /* line-height: 25px; */
      line-height: 1.38889;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

// Services Include
.sectionInclude {
  margin-bottom: 120px;
}
.serviceInclude {
  &__row {
    display: flex;
    justify-content: center;
    gap: 60px;
    @media (max-width: 430px) {
      display: block;
    }
  }
  &__col {
    flex: 1 1 auto;
    &:first-child {
      margin: 20px 0 0 0;
      .aboutServicesIncludeItem {
        &:not(:last-child) {
          margin-bottom: 65px;
        }
      }
    }
    @media (max-width: 430px) {
      &:not(:last-child) {
        margin-bottom: 65px;
      }
    }
  }
}
.aboutServicesIncludeItem {
  border-left: 3px solid;
  border-image: linear-gradient(0deg, #c823de 0%, #39006b 100%);
  border-image-slice: 1;

  h1 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    /* line-height: 30px; */
    line-height: 1.3;
    color: #fff;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    margin-left: 25px;

    /* line-height: 30px; */
    line-height: 1.66667;
    color: #fff;
  }
  &:not(:last-child) {
    margin: 0 0 45px 0;
  }
}

// Features

.section__features {
  margin-bottom: 97px;
}

.featuresCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 376px));
  place-content: center;
  gap: 15px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 430px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.card {
  padding: 25px 31px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(180deg, rgba(72, 49, 157, 0.5) 0%, rgba(72, 49, 157, 0.1) 100%);
  &__image {
    img {
      margin: 0 auto;
      width: 86px;
      height: 86px;
    }
  }
  &__content {
    h1 {
      margin: 20px 0 15px 0;
      font-weight: 400;
      font-size: 25px;

      /* line-height: 25px; */
      line-height: 1;
      letter-spacing: -0.04em;
      color: #fff;
    }
    p {
      font-weight: 400;
      font-size: 18px;

      /* line-height: 25px; */
      line-height: 1.38889;
      letter-spacing: -0.04em;
      text-align: center;
      color: #fff;
    }
  }
}

// Stack =======================
.section__stack {
  margin-top: 150px;
}
.stack__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 558px));
  grid-template-rows: auto;
  place-content: center;
  place-items: center;
  gap: 40px;
  @media (max-width: 430px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.stack__card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
  h1 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;

    /* line-height: 25px; */
    line-height: 1.13636;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    @media (max-width: 430px) {
      font-size: 18px;

      /* line-height: 25px; */
      line-height: 1.38889;
    }
  }
  &_image {
    img {
      max-width: 100%;
    }
  }
}
