.custom__scroll-container {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, #4e1678 0%, #c60bc5 100%);
		border-radius: 15px;
	}

	&::-webkit-scrollbar-track {
		background-color: #5c5c5c;
		border-radius: 15px;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}
