.bannerSection {
  padding: 50px 150px 40px 150px;
  color: #fff;
  @media screen and (max-width: 769px) {
    padding: 50px 25px 50px 25px;
  }
}

.container {
  padding: 30px 60px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: #222222;
  border-radius: 10px;
  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 30px 25px;
    text-align: center;
  }
}

.imageWrapper {
  flex: 1;
  img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.content {
  flex: 1;
  text-align: left;
  @media screen and (max-width: 520px) {
    text-align: center;
  }
}

.title {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  @media screen and (max-width: 520px) {
    font-size: 24px;
  }
}

.description {
  font-size: 25px;
  margin-bottom: 20px;
  @media screen and (max-width: 520px) {
    font-size: 18px;
  }
}

.featuresList {
  list-style: disc !important;
  padding: 0;
  margin-bottom: 30px;

  li {
    font-size: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
}

.meetButton {
  color: #fff;
  padding: 12px 24px;
  border: 1 px solid #fff;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  //width: 155px;
  @media screen and (max-width: 520px) {
    width: 177px;
  }
}
