.gridSection {
  padding: 50px 30px 40px 30px;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.title {
  font-size: 45px;
  margin-bottom: 20px;
  @media screen and (max-width: 520px) {
    font-size: 25px;
    text-align: center;
  }
}

.description {
  font-size: 20px;
  margin-bottom: 40px;
  @media screen and (max-width: 520px) {
    font-size: 18px;
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.gridItem {
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
  }
}

.icon {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
