.cryptoFeaturesSection {
  padding: 50px 30px 40px 30px;
  color: #fff;
  text-align: left;
  background-color: #000;
  @media screen and (max-width: 520px) {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: capitalize;
    @media screen and (max-width: 520px) {
      font-size: 25px;
    }
  }

  .description {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .featuresGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
    padding: 0 75px 0 75px;

    @media screen and (max-width: 520px) {
      grid-template-columns: 1fr;
    }

    .featureItem {
      background-color: #222222;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        margin-bottom: 20px;
      }

      .featureTitle {
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
  }

  .promoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    padding: 15px 50px;
    border-radius: 10px;
    @media screen and (max-width: 769px) {
      flex-direction: column;
    }

    .promoImage {
      width: 40%;
      border-radius: 8px;
      @media screen and (max-width: 769px) {
        width: auto;
      }
    }

    .promoContent {
      text-align: left;
      width: 55%;
      @media screen and (max-width: 769px) {
        width: auto;
      }
      @media screen and (max-width: 520px) {
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h3 {
        font-size: 38px;
        margin-bottom: 20px;
        font-weight: 400;
        @media screen and (max-width: 520px) {
          font-size: 22px;
        }
      }

      p {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 400;
        @media screen and (max-width: 520px) {
          font-size: 18px;
        }
      }

      .meetButton {
        border: 1px solid #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 99px;

        @media screen and (max-width: 520px) {
          width: 177px;
        }
      }
    }
  }
}
