.servicesSection {
  padding: 110px 30px 40px 30px;
  //background-color: #121212;
  text-align: left;
  color: #fff;
  @media screen and (max-width: 520px) {
    padding: 50px 30px 40px 30px;
  }
}

.title {
  font-size: 58px;
  margin-bottom: 10px;
  font-weight: 400;
  @media screen and (max-width: 520px) {
    font-size: 25px;
    text-align: center;
  }
}

.description {
  font-size: 20px;
  margin-bottom: 40px;
  @media screen and (max-width: 520px) {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}

.servicesGrid {
  padding: 0px 50px 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  @media screen and (max-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  @media screen and (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}

.serviceCard {
  background: linear-gradient(
    180deg,
    rgba(34, 23, 74, 1) 0%,
    rgba(145, 73, 237, 0) 100%
  );
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconContainer {
  margin-bottom: 15px;
}

.serviceTitle {
  font-size: 25px;
  margin-bottom: 10px;
  color: #fff;
}

.serviceDescription {
  font-size: 18px;
  color: #fff;
}
