.gridSection {
  // padding: 50px 30px 40px 30px;
  color: #fff;
  @media screen and (max-width: 520px) {
    padding: 10px 15px 10px 15px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  .title {
    font-size: 45px;
    margin-bottom: 20px;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }

  .description {
    font-size: 20px;
    margin-bottom: 40px;
    @media screen and (max-width: 520px) {
      font-size: 18px;
      text-align: center;
    }
  }

  .grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: 520px) {
      flex-direction: column;
      align-items: center;
    }

    .gridItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin-bottom: 40px;
      text-align: center;
      @media screen and (max-width: 520px) {
        width: auto;
      }

      .icon {
        max-width: 80px;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 25px;
        margin-bottom: 10px;
        @media screen and (max-width: 520px) {
          font-size: 20px;
          text-align: center;
        }
      }

      p {
        font-size: 18px;
      }
      @media screen and (max-width: 520px) {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

.cryptoSection {
  padding: 50px 0;
  background-color: #111;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 769px) {
    flex-direction: column;
  }

  .cryptoContents {
    display: flex;
    flex-direction: column;
    //align-items: left;
    justify-content: center;
    text-align: left;
    padding: 150px;
    @media screen and (max-width: 520px) {
      padding: 0 15px;
      text-align: center;
      align-items: center;
      padding-bottom: 15px;
    }

    h3 {
      font-size: 38px;
      margin-bottom: 20px;
      @media screen and (max-width: 520px) {
        font-size: 25px;
        text-align: center;
      }
    }

    p {
      margin-bottom: 30px;
      font-size: 25px;
      @media screen and (max-width: 520px) {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .cryptoIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 520px) {
      background: radial-gradient(
        circle,
        rgba(250, 180, 0, 1) -30%,
        rgba(17, 17, 17, 1) 95%
      );
    }

    .ellipse {
      position: absolute;
      top: 31%;
      left: 40%;
      @media screen and (max-width: 520px) {
        display: none;
      }
    }
    .cryptoIcon {
      position: relative;
      //max-width: 60px;
      @media screen and (max-width: 520px) {
        //background: radial-gradient(circle, rgba(250,180,0,1) -35%, rgba(17,17,17,1) 98%);
      }
    }
  }

  .meetButton {
    border: 1px solid #fff !important;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
}
