$backgroundBlack: #0a0a0a;
$white: #fff;
$inactiveGray: #afafaf;
$textGray: #848484;
$footerBg: #0f0f0f;
$footerText: #fafafa80;
$footerLinkTitle: #fafafa59;
$grayContact: #c9c9c9;
// $highlightColor: #ffffff
