@import "../../constants/colors.scss";

.main {
  &_heroSection {
    height: 120vh;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    margin-bottom: 60px;
    width: 100%;
    &_active {
      top: 120px;
      left: 0;
    }

    &_motto {
      color: $white;
      font-size: 58px;
      font-weight: 400;
      line-height: 57.92px;

      word-spacing: 12px;
      @media screen and (max-width: 520px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &_lowerText {
        display: flex;
        justify-content: flex-end;
        will-change: opacity;
        will-change: transform;
      }

      @media screen and (max-width: 768px) {
        & {
          font-size: 44px;
          // &_lowerText {
          //   margin-left: 15px;
          //   margin-top: 15px;
          // }
        }
      }
      @media screen and (max-width: 550px) {
        & {
          font-size: 36px;
        }
        @media screen and (max-width: 440px) {
          font-size: 25px;
        }
        @media screen and (max-width: 390px) {
          font-size: 22px;
        }
        @media screen and (max-width: 365px) {
          font-size: 20px;
        }
      }
    }
  }

  &_intro {
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 0;
    width: 50%;
    padding: 15px;
    @media screen and (max-width: 520px) {
      flex-direction: column;
      width: 100%;
      padding: 10px;
     
      will-change: transform, opacity;
    }
    p {
      font-size: 25px;
      font-weight: 400;
      line-height: 57.92px;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      transition: all 0.3s;

      @media screen and (max-width: 1000px) {
        & {
          font-size: 44px;
        }
      }
      @media screen and (max-width: 900px) {
        & {
          font-size: 36px;
        }
      }
      @media screen and (max-width: 768px) {
        & {
          font-size: 25px;
        }
        @media screen and (max-width: 520px) {
          & {
            font-size: 18px;
          }
        }
        @media screen and (max-width: 400px) {
          & {
            font-size: 14px;
          }
        }
      }
    }

    &:hover {
      p {
        color: rgba($color: #fff, $alpha: 0.3);

        span {
          color: $white;
        }
      }
    }
    &_onhover {
      p {
        color: rgba($color: #fff, $alpha: 0.3);
        span {
          color: $white;
        }
      }
    }
  }

  &_work {
    width: 100%;
    padding: 10px;
    margin-top: 300px;
    position: relative;
    z-index: 1;
    background-color: #0a0a0a;
    h2 {
      color: $textGray;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.04px;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }
    @media (max-width: 640px) {
      margin-top: 0px;
    }
  }

  &_hSection {
    background-color: $white;
    margin-top: 100px;
    min-height: 100vh;
    height: 100vh;
    width: 300vw;
    display: flex;
    &_page {
      height: 100%;
      width: 100vw;
      &_h3 {
        color: $backgroundBlack;
        font-size: 137.5px;
        font-weight: 400;
        line-height: 160px;
        text-transform: uppercase;
      }
    }
  }
}

.thumbnail_block {
  border-left: 1px solid #c8c8c8;
  height: 100vh;
  color: $backgroundBlack;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heroSecWithVideo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 10vh 0 10vh;

  @media screen and (max-width: 520px) {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .heroText1 {
    margin-left: 80px;
    will-change: opacity;
    will-change: transform;
    @media screen and (max-width: 520px) {
      margin-left: 0;
    }
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
