.container {
  padding: 2rem;
  color: #fff;
  text-align: center;
  padding: 50px 150px 40px 150px;
  @media screen and (max-width: 520px) {
    padding: 50px;
  }

  h2 {
    font-size: 58px;
    margin-bottom: 1rem;
    text-align: left;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }

  .description {
    font-size: 20px;
    margin-bottom: 2rem;
    text-align: left;
    @media screen and (max-width: 520px) {
      text-align: center;
    }
  }
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;

  @media screen and (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.serviceCard {
  background-color: #1c1c1c;
  text-align: left;

  opacity: 0;
  transform: translateY(30px);

  @media screen and (max-width: 520px) {
    text-align: center;
  }
  h3 {
    font-size: 28px;
    margin: 1.5rem;
    @media screen and (max-width: 520px) {
      text-align: center;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    margin: 1.5rem;
    @media screen and (max-width: 520px) {
      text-align: center;
    }
  }
  &.fadeIn {
    animation: fadeInUp 0.8s ease-out forwards;
  }
}

.promoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151515;
  margin: 20px 150px;
  border-radius: 10px;
  @media screen and (max-width: 520px) {
    flex-direction: column;
    margin: 20px;
  }

  .promoImage {
    width: 40%;
    border-radius: 8px;
    @media screen and (max-width: 520px) {
      width: auto;
    }
  }

  .promoContent {
    text-align: left;
    width: 55%;
    @media screen and (max-width: 520px) {
      width: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }

    h3 {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: 400;
      @media screen and (max-width: 520px) {
        font-size: 22px;
      }
    }

    p {
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 400;
      color: #fff;
      @media screen and (max-width: 520px) {
        font-size: 18px;
      }
    }

    .meetButton {
      border: 1px solid #fff;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 18px;
      border-radius: 99px;

      @media screen and (max-width: 520px) {
        width: 177px;
      }
    }
  }
}

.borderTop {
  background: linear-gradient(to left top, #ef26c0, #9945ff);
  height: 3px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
