.sectionMotion {
  margin-bottom: 120px;
}

.blockchainContainer {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 30px;
}

.container {
  display: flex;
  color: #fff;
  padding: 50px 150px 40px 150px;
  @media screen and (max-width: 520px) {
    padding: 50px;
    flex-direction: column;
  }
}

.swiper-slide {
  display: block !important;
}

.sidebar {
  width: 300px;
  background-color: #1f1f1f;
  padding: 10px;
}
.carousel {
  width: 100%;
  background-color: #222222;
  border-bottom: 1px solid #000;
  .swiper-pagination-bullet-active {
    background-color: #007bff;
  }
}

.menuItemMobile {
  padding: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.menuItem {
  padding: 15px;
  border-bottom: 1px solid #333;
  color: #ccc;
  @media screen and (max-width: 520) {
    width: 310px;
  }

  &:hover {
    color: #fff;
  }
}

.active {
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #a21caf;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  max-height: 548.8px;
  background-color: #111111;
  @media screen and (max-width: 520px) {
    text-align: center !important;
  }
}

h2 {
  margin-top: 0;
  color: #fff;
}

.container2 {
  text-align: center;
  color: #fff;
  padding: 50px 50px 40px 50px;
}

.cardContainer {
  overflow-x: auto;
  display: flex;

  margin-top: 20px;
  cursor: grab;
  width: 100%;

  /* Scrollbar gizleme */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE ve Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Opera */
  }
}

.cardWrapper {
  display: flex;
  gap: 20px;
  //width: max-content; // Sağ-sol kaydırma için
  padding-bottom: 20px;
}

.card {
  flex-direction: column;
  justify-content: flex-start !important;
  width: 376px !important;
  height: 440px;
  min-width: 250px;
  background: linear-gradient(180deg, rgba(72, 49, 157, 0.5) 0%, rgba(145, 73, 237, 0) 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  text-align: center;
  @media screen and (max-width: 520px) {
    width: 100% !important;
  }
  h2 {
    margin: 15px;
    font-size: 22px;
    font-weight: 400;
  }
  p {
    font-size: 17px;
    margin: 15px;
  }
}

h1 {
  font-size: 58px;
  margin-bottom: 10px;
  //text-align: left;
  @media screen and (max-width: 520px) {
    font-size: 25px;
    text-align: center;
  }
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  @media screen and (max-width: 520px) {
    font-size: 18px;
  }
}

.customprevbutton,
.customnextbutton {
  position: absolute;
  color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  top: 65% !important;
  transform: translateY(-50%) !important;
}

.customprevbutton {
  left: -25px !important;
}

.customnextbutton {
  right: -25px !important;
}
