@import "../../constants/colors.scss";

.loader {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #19191e;
  background-color: #000000;
  flex-direction: column;
  &_percent {
    position: absolute;
    color: $white;
    font-size: 80px;
    font-family: SGrotReg, sans-serif;
  }

  &_start {
    position: relative;
    border-radius: 10;
    color: $white;
    border: 2px solid #3b3c3d;
    // font-size: 26.78px;
    font-size: 1.2rem !important;
    font-weight: 400;
    line-height: 26.78px;
    text-align: center;
    font-family: SGrotReg, sans-serif;
    padding: 8px 24px;
    border-radius: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
      background-color: $white;
      border: none;
      color: #19191e;
    }
  }

  &_startInactive {
    opacity: 0;
  }
  &_startActive {
    opacity: 1;
    transition: all 1.2s;
  }
  video {
    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }
}
.js-explosion {
  position: absolute;
  top: 0;
  left: 0;
}
