// BookConsultation.module.scss
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.textarea {
  resize: vertical;
  min-height: 100px;
}

.submitButton {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.CloseBtn {
  position: absolute;
  right: -180px;
  top: 30px;
  svg {
    width: 24px;
    height: 24px;
  }
}
