.service-section {
  padding: 110px 50px 40px 50px;
  h2 {
    font-size: 58px;
    text-align: center;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 520px) {
      display: block;
    }
  }

  .service-card {
    flex: 1 1 30%;
    margin: 15px;
    background: linear-gradient(
      180deg,
      rgba(34, 23, 74, 1) 0%,
      rgba(145, 73, 237, 0) 100%
    );
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 25px;
      margin: 10px 0;
      text-align: center;
      color: #ffffff;
    }

    &__description {
      font-size: 18px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.whyUsContainer {
  padding: 60px 20px;
  background-color: #000;

  .title {
    color: #fff;
    font-size: 58px;
    margin-bottom: 40px;
    
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }
  .titledes {
    color: #ffffff;
    font-size: 20px;
  }

  .reasonsGrid {
    display: flex;
    gap: 20px;
    :nth-child(even) {
      margin-top: 100px;
      @media screen and (max-width: 520px) {
        margin-top: 0;
      }
    }
    @media screen and (max-width: 520px) {
      flex-direction: column;
    }
  }

  .reasonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-width: 22%;
    :nth-child(even) {
      margin-top: 100px;
    }
  }

  .cardTitle {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 10px !important;
  }

  .cardDescription {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }
}
