.appContainer {
    min-height: 100vh;
    position: relative;

    h1{
      text-align: left;
    }
  }
  
  .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    border-radius: 0px, 0px, 65px, 65px;
  }

h1, h2, p, h3{
  font-weight: 400;
  
}

