.game-development-container {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 40px 30px;
  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
  h2 {
    font-size: 58px;
    color: #ffffff;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }
  p {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.game-development {
  padding: 50px 30px 40px 30px;
  display: flex;
  gap: 25px;
  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
  p {
    color: #ffffff;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 769px) {
      width: auto;
      gap: 25px;
    }
    &__content {
      display: flex;
      @media screen and (max-width: 769) {
        flex-direction: column;
        gap: 25px;
      }
      h2 {
        font-size: 25px;
        text-transform: uppercase;
      }
      p {
        font-size: 18px;
        text-transform: uppercase;
      }
      &__first {
        position: relative;
        top: -120px;
        width: 38%;
        @media screen and (max-width: 520px) {
          position: static;
          width: auto;
          text-align: center;
        }
      }
      &__second {
        position: relative;
        top: 10px;
        width: 45%;
        left: 50px;
        @media screen and (max-width: 520px) {
          position: static;
          width: auto;
          text-align: center;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: 769px) {
      width: auto;
      gap: 25px;
    }
    &__content {
      display: flex;
      @media screen and (max-width: 520px) {
        flex-direction: column;
        gap: 25px;
      }
      h2 {
        font-size: 25px;
        text-transform: uppercase;
      }
      p {
        font-size: 18px;
        text-transform: uppercase;
      }
      &__first {
        position: relative;
        top: 10px;
        width: 48%;
        left: 55px;
        text-align: right;
        @media screen and (max-width: 520px) {
          position: static;
          width: auto;
          text-align: center;
        }
      }
      &__second {
        position: relative;
        top: -125px;
        left: 110px;
        width: 38%;
        text-align: right;
        @media screen and (max-width: 520px) {
          position: static;
          width: auto;
          text-align: center;
        }
      }
    }
  }
}

.blockchain-expertise {
  padding: 50px 30px 40px 30px;
  h2 {
    font-size: 58px;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    @media screen and (max-width: 520px) {
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #2b2b2b;
    border-radius: 10px;
    text-align: center;
    padding: 15px;

    &__title {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 1rem;
      color: #ccc;
    }
  }
}
