.revenue-section {
  padding: 50px 30px 40px 30px;
  h2 {
    font-size: 58px;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 769px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    gap: 25px;
    margin: 15px;
    padding: 20px;
    text-align: left;
    @media screen and (max-width: 520px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    img {
      width: 125px;
      height: 125px;
    }

    &__title {
      font-size: 38px;
    }

    &__description {
      font-size: 18px;
      color: #fff;
    }
  }
}

.service-section {
  padding: 50px 30px 40px 30px;
  h2 {
    font-size: 58px;
    text-align: center;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-card {
    flex: 1 1 30%;
    margin: 15px;
    background: linear-gradient(
      180deg,
      rgba(145, 73, 237, 1) 0%,
      rgba(145, 73, 237, 0) 100%
    );
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 25px;
      margin: 10px 0;
      color: #ffffff;
    }

    &__description {
      font-size: 18px;
      color: #ffffff;
    }
  }
}

.marketplaceContainer {
  padding: 50px 30px 40px 30px;
  background-color: #000;
  p {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .marketplaceTitle {
    color: #fff;
    margin-bottom: 20px;
    font-size: 58px;
    @media screen and (max-width: 520px) {
      font-size: 32px;
    }
  }

  .marketplaceCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  
    @media screen and (max-width: 769px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .marketplaceCard {
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }

  .cardIcon {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .cardTitle {
    color: #fff;
  }

  .cardDescription {
    color: #fff;
    text-transform: none !important;
  }
}
