.service-section {
  padding: 110px 30px 40px 30px;
  h2 {
    font-size: 58px;
    text-align: center;
    @media screen and (max-width: 520px) {
      font-size: 25px;
      text-align: center;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 520px) {
      display: block;
    }
  }

  .service-card {
    flex: 1 1 30%;
    margin: 15px;
    background: linear-gradient(
      180deg,
      rgba(145, 73, 237, 1) 0%,
      rgba(145, 73, 237, 0) 100%
    );
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 25px;
      margin: 10px 0;
      color: #ffffff;
    }

    &__description {
      font-size: 18px;
      color: #ffffff;
    }
  }
}
