@import "../../components/Wallet/ui/walletUi.module.scss";
@import "../../components/Wallet/BP/bp.module.scss";
@import "../../components/Wallet/About/aboutWallet.module.scss";

// Section Wallet
.main__wallet {
	margin: 300px 0 712px 0;
}

.wallet__section {
	margin-bottom: 120px;
}
// Cryptocurrency

.cryptocurrency__row {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 448px));
	grid-template-rows: auto;
	gap: 20px;
	margin-bottom: 100px;
	place-content: center;
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (max-width: 430px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	&_card {
		background-color: #222;
		border-radius: 10px;
		img {
			width: 100%;
			object-fit: cover;
		}
		&__content {
			padding: 30px 24px;
			font-weight: 400;
			text-align: center;
			color: #fff;
			h1 {
				margin-bottom: 15px;

				font-size: 25px;

				/* line-height: 30px; */
				line-height: 1.2;
				letter-spacing: -0.04em;
			}
			p {
				font-size: 18px;

				/* line-height: 25px; */
				line-height: 1.38889;
				letter-spacing: -0.04em;
			}
		}
		@media (max-width: 768px) {
			&:last-child {
				grid-column: span 2;
			}
		}
		@media (max-width: 430px) {
			&:last-child {
				grid-column: auto;
			}
		}
	}
}

.cryptocurrency__list {
	margin-bottom: 30px;
	li {
		display: flex;
		align-items: center;
		gap: 15px;
		font-weight: 400;
		font-size: 25px;
		@media (max-width: 430px) {
			align-items: flex-start;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		/* line-height: 30px; */
		line-height: 1.2;
		color: #fff;
		&::before {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: #fff;
			@media (max-width: 430px) {
				margin-top: 10px;
			}
		}
	}
}
// Service

.wallet__service {
	&__row {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 500px));
		grid-template-rows: auto;
		place-content: center;
		gap: 55px;
		margin-bottom: 80px;
		@media (max-width: 768px) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
	&__card {
		display: flex;
		gap: 20px;
		img {
			width: 70px;
			height: 70px;
		}
		h1 {
			margin-bottom: 15px;
			font-weight: 400;
			font-size: 25px;

			/* line-height: 30px; */
			line-height: 1.2;
			letter-spacing: -0.04em;
			color: #fff;
		}
		p {
			font-weight: 400;
			font-size: 18px;

			/* line-height: 25px; */
			line-height: 1.38889;
			letter-spacing: -0.04em;
			color: #fff;
		}
		@media (max-width: 430px) {
			flex-direction: column;
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
	&_list {
		margin-bottom: 30px;
		li {
			display: flex;
			align-items: start;
			gap: 15px;
			font-weight: 400;
			font-size: 25px;
			/* line-height: 30px; */
			line-height: 1.2;
			color: #fff;
			&::before {
				content: "";
				margin-top: 10px;
				padding-left: 8px;
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: #fff;
				@media (max-width: 430px) {
					margin-top: 10px;
				}
			}
		}
	}
}

// RisingMax
.rising {
	&__top {
		&_row {
			display: grid;
			grid-template-columns: repeat(4, minmax(0, 157px));
			grid-template-rows: auto;
			place-content: center;
			gap: 55px;
			margin-bottom: 90px;
			@media (max-width: 768px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
			@media (max-width: 430px) {
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}
		}
		&_card {
			img {
				margin: 0 auto;
				object-fit: cover;
				margin-bottom: 15px;
			}
			h1 {
				font-weight: 500;
				font-size: 20px;

				/* line-height: 25px; */
				line-height: 1.25;
				text-align: center;
				color: #fff;
			}
		}
	}
	&__body {
		&_row {
			display: flex;
			justify-content: center;
			@media (max-width: 1024px) {
				display: block;
			}
		}
		&_item {
			&:first-child {
				flex: 1 1 auto;
				@media (max-width: 1024px) {
					flex: none;
					img {
						margin: 0 auto 60px auto;
					}
				}
			}
			&:last-child {
				flex: 1 1 1fr;
			}
			img {
				object-fit: cover;
			}
		}
		&_sub {
			&__items {
				display: grid;
				grid-template-columns: repeat(2, minmax(0, 350px));
				grid-template-rows: auto;
				column-gap: 111px;
				@media (max-width: 1024px) {
					place-content: center;
				}
				@media (max-width: 430px) {
					grid-template-columns: repeat(1, minmax(0, 1fr));
				}
			}
			&__item {
				&:last-child {
					margin-top: 176px;
					@media (max-width: 430px) {
						margin-top: 40px;
					}
				}
			}
		}

		&_card {
			font-weight: 400;
			h1 {
				display: flex;
				gap: 15px;
				margin-bottom: 15px;
				font-size: 28px;

				/* line-height: 33px; */
				line-height: 1.18;
				color: #fff;
				&::before {
					content: "";
					width: 2px;
					height: 33px;
					background-color: #9945ff;
				}
			}
			p {
				font-size: 18px;

				/* line-height: 27px; */
				line-height: 1.51667;
				color: #c4c4c4;
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}

// Functionality
.functionality {
	&__row {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 310px));
		grid-template-rows: auto;
		column-gap: 30px;
		row-gap: 166px;
		place-content: center;
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@media (max-width: 430px) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			row-gap: 60px;
		}
	}
	&__card {
		text-align: center;
		img {
			margin: 0 auto;
			object-fit: cover;
		}
		h1 {
			font-weight: 500;
			font-size: 25px;
			margin: 16px 0;
			/* line-height: 30px; */
			line-height: 1.2;
			letter-spacing: -0.04em;
			color: #fff;
		}
		p {
			font-weight: 400;
			font-size: 18px;

			/* line-height: 25px; */
			line-height: 1.38889;
			letter-spacing: -0.04em;
			text-align: center;
			color: rgba(255, 255, 255, 0.65);
		}
	}
}
