@import "./constants/colors.scss";

@font-face {
  font-family: "SGrotReg";
  src: url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SGrotBold";
  src: url("../public/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SGrotLight";
  src: url("../public/fonts/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Regular.ttf"), format("truetype");
}

@font-face {
  font-family: "Hell";
  src: url("../public/fonts/HelveticaNeueLight.otf"), format("opentype");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

html {
  //overflow-x: hidden;
  // @media screen and (max-width:520px) {
  //   overflow-x: hidden !important;
  // }
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    cursor: none;
  }
  //cursor: none;
}

body {
  scroll-behavior: smooth;
  background-color: $backgroundBlack;
  font-family: SGrotReg, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $inactiveGray;
}

// .swiper-slide {
//   display: flex;
//   //justify-content: center !important;
//   align-items: center !important;
//   opacity: 0.3;
//   transition:
//     opacity 0.3s ease,
//     transform 0.3s ease;
// }
// .swiper-slide-active {
//   opacity: 1;
//   transform: scale(1.1);
//   color: #ffffff;
// }
// .swiper-slide-prev,
// .swiper-slide-next {
//   opacity: 0.3;
//   transform: scale(0.5);
// }
// .swiper-button-prev,
// .swiper-button-next {
//   color: #ffffff;
// }

.mySwiper {
  height: 320px;
  &:last-child {
  }
}
.mySubSwiper {
  z-index: 10;
  height: 200px;
}

//Loader experience part
.title-lottie {
  font-size: 24px;
  transition: all 0.6s ease-in-out;
}

@media (max-width: 520px) {
  .title-lottie {
    font-size: 16px;
  }
  .title-lottie__anim {
    animation: slideOut 0.6s ease-in-out forwards;
    font-size: 16px;
  }
}

.title-lottie__anim {
  animation: slideOut 0.6s ease-in-out forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.5s ease;
}

.form-wrapper {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 1000px;
  animation: slideIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
