.industry-page {
  background-color: #000000;
  color: #fff;

  .sectionService {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px 155px;
    gap: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.9s ease-out;

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
    @media screen and (max-width: 769px) {
      flex-direction: column-reverse;
      padding: 10px 50px 10px 50px;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      @media screen and (max-width: 769px) {
        flex-direction: column-reverse;
      }
    }
    .frame {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.software-dev-frame {
        @media screen and (max-width: 528px) {
          width: 200px;
          height: 150px;
        }
      }

      &.design-ai-frame {
        width: 250px;
        height: 250px;
        @media screen and (max-width: 528px) {
          width: 150px;
          height: 150px;
        }
      }

      &.networking-frame {
        width: 225px;
        height: 225px;
        @media screen and (max-width: 528px) {
          width: 150px;
          height: 160px;
        }
      }

      &.it-maintenance-frame {
        width: 250px;
        height: 350px;
        @media screen and (max-width: 528px) {
          width: 200px;
          height: 200px;
        }
      }

      &.social-media-frame {
        width: 250px;
        height: 250px;
        @media screen and (max-width: 528px) {
          width: 200px;
          height: 200px;
        }
      }

      &.google-meta-frame {
        width: 300px;
        height: 300px;
        @media screen and (max-width: 528px) {
          width: 150px;
          height: 150px;
        }
      }
    }

    .section-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .section-content {
      max-width: 600px;
      @media screen and (max-width: 769px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h2 {
        font-size: 50px;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 10px;
        line-height: 63px;
        @media screen and (max-width: 528px) {
          font-size: 28px;
          text-align: center;
          line-height: 40px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-transform: uppercase;
        @media screen and (max-width: 528px) {
          text-align: center;
          font-size: 15px;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.up {
  height: 79vh;
  @media screen and (max-width: 528px) {
    height: 60vh;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  background-color: #000;
  @media screen and (max-width: 769px) {
    height: 581px;
  }
  @media screen and (max-width: 528px) {
    width: 300px;
    height: 324px;
  }
  @media screen and (max-width: 425px) {
    height: 313px;
  }
  @media screen and (max-width: 411px) {
    height: 286px;
  }
  @media screen and (max-width: 361px) {
    height: 274px;
  }
  @media screen and (max-width: 325px) {
    height: 243px;
  }
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 18px;
  width: 176px;
  border-radius: 99px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: white;
    color: black;
  }
  @media screen and (max-width: 520px) {
    font-size: 15px;
    width: 150px;
  }
}

.header {
  text-align: center;
  //margin: 20px 0;
  top: 150px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 528px) {
    top: 175px;
  }
}

.title {
  font-size: 56px;
  //font-weight: bold;
  color: #fff;
  @media screen and (max-width: 528px) {
    font-size: 25px;
  }
}

.content {
  position: relative;
  z-index: 1;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 58px;
    font-weight: 400;
    font-family: "Space Grotesk";
  }
  @media screen and (max-width: 528px) {
    top: 200px;
  }
}

.down {
  position: relative;

  //z-index: 1;
}
.down_header {
  margin: 0 35px 0 35px;
  @media screen and (max-width: 528px) {
   display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
    p{
      text-align: center;
    }
  }
}
