.header__service {
	background: linear-gradient(to left top, #1c1b42, #340d2c);
	padding: 166px 120px 139px 120px;
	position: relative;
	display: flex;
	gap: 100px;

	@media screen and (max-width: 1100px) {
		& {
			padding-inline: 60px;
			flex-direction: column;
			align-items: center;
			gap: 40px;
		}
	}

	&_bg {
		position: absolute;
		top: 0;
		left: 0;
	}

	&_content {
		font-family: Space Grotesk;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		gap: 35px;
		max-width: 600px;
		h2 {
			font-size: 48px;
			color: white;
			@media screen and (max-width: 768px) {
				& {
					font-size: 25px;
				}
			}
		}
		p {
			font-size: 20px;
			text-transform: uppercase;
		}
		@media screen and (max-width: 1100px) {
			& {
				gap: 1rem;
				text-align: center;

				p {
					text-align: center;
				}
			}
		}
	}
}
